# Node modules
/node_modules

# PnP (no lo usás, pero por si acaso)
/.pnp
.pnp.*

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore yarn cache, allow release and other important files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Ignore individual files inside .yarn/cache, but allow folder
.yarn/cache/*
!.yarn/cache/.gitkeep  # opcional si querés trackear el folder vacío

# IDE
.idea
.vscode